.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
}

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}

.sidebar .nav-link.active {
  color: #a3cd44;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  /*padding-top: .75rem;
  padding-bottom: .75rem;*/
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}

#dashboard-grid {
  margin-left:8%;
  margin-top:30px;
}
#dashboard-grid .card-home {
  cursor:pointer;
  color:#212529;
  /*width: 180px;
  height: 150px;*/
  border-radius: 30px;
  background: #e0e0e0;
  margin: 10px;
  text-align: center;
  padding:40px 20px;
  box-shadow: 5px 5px 20px #bebebe,
    -5px -5px 30px #ffffff;
  text-decoration: none;
}
#dashboard-grid .card-home.titleGroup{
  background: #f4de9c;
}
#dashboard-grid .card-home:hover {
  box-shadow: 5px 5px 20px #A3CD44,
    -5px -5px 30px #ffffff;
  color: #6a887c;
}
.titleGroup h6{
  margin-top:15%;
}
#butt-menu{
  width:110px;
  margin: 18px 0 0 9%;
}
#butt-menu button{
   color: #6A887C;
}
#butt-menu .open-button{
  display:none;
}
#butt-menu.close-menu {
  margin: 75px 0 0 5px;
}
#butt-menu.close-menu .open-button{
  display: block;
}
#butt-menu.close-menu .close-button {
  display: none;
}
