.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #6A887C;
    --bs-btn-active-border-color: #6A887C;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}
.hide {
    display:none;
}
div.dt-container {
    margin-bottom: 3em;
}
.table-responsive {
    margin-bottom: 40px;
}
.logo {  
max-width:100%;
}
.navbar-brand {
    /*background-color: #a3cd44 !important;*/
}
.bg-easy {
    /*background-color: #212529 !important;*/
}
.nav-link {
    color: #6A887C;
}
.nav-link:hover {
    color: #a3cd44;
}
.sidebar-heading{
    cursor: pointer;
}
.sidebar-heading:hover {
    color: #a3cd44 !important;
}
.select-btn-int, .select-btn-doc, .select-btn{
    background:#a3cd44;
}
.select-voice {
    color:#a3cd44 !important;
    font-weight: bold;
}
.active-tab{
    color:#0000ff;
    text-decoration: underline;
    font-weight: 500;
}
.spinner-center {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#body-mess tr {
    cursor: pointer;
    font-size: 14px;
}
#body-mess tr:hover td{
    background-color: #CCCCCC !important;
}

#body-mess .active td {
    background-color: #CCCCCC !important;
}
@media (max-width: 378px) {
    .logo-container {
        width:100%;
        padding: 5px 0 !important;
    }
    .menu-button {
        text-align: center;
        padding:5px 0 10px 0;
        width: 100%;
    }
    #dashboard-grid .card-home {
        padding: 20px 10px !important;
    }
    .titleGroup {
        width: 90%;
        padding:10px 0 !important;
    }
    .titleGroup h6{
        margin:0 !important;
    }
}
@media (max-width: 767px) {
    #butt-menu {
        display: none;
    }
    #sidebarMenuLabel{
        margin-left: 30px;
    }
}
@media (min-width: 768px) {
    .butt-menu-smart {
        display:none;
    }

}
@media (min-width: 500px) {
    header .menu-button {
        margin-right:5%;
    }
}
.popover {
    z-index: 1060;
}
.star-rating {
    font-size: 1, 5rem;
    /* Grandezza delle stelle */
    color: #ddd;
    /* Colore stelle non selezionate */
    cursor: pointer;
}

.star-rating .fa-star.filled {
    color: #f7d106;
    /* Colore stelle selezionate */
}

.star-rating .fa-star:hover {
    color: #f7d106;
    /* Colore stelle al passaggio del mouse */
}

.star-rating .active {
    color: #f7d106;
}

.folder {
    width: 150px;
    height: 100px;
    background-color: #f1c40f;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor:pointer;
}

.folder:hover{
    background-color: hwb(48 2% 1%);
    color:#0000ff;
}
/* Parte superiore della cartella */
.folder::before {
    content: "";
    width: 70px;
    height: 20px;
    background-color: #f1c40f;
    border-radius: 5px 5px 0 0;
    position: absolute;
    top: -15px;
    left: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.over-view {
    cursor:pointer;
    font-weight: bold;
}
.over-view:hover {
    color:#476c62;
    text-decoration: underline;
}